/* Slider */
.slider h3,
.slider h5 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


/* Logo Navbar */
.brand-logo {
  max-width: 150px;
}

.parallax-container {
  height: 20%;
}

.parallax img {
  filter: grayscale(1);
  opacity: 0.5 !important;
}


/* Profile */
.profile img {
  max-width: 200px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

.container.profile h3 {
  margin-bottom: 4px;
}

.container.profile p {
  margin-top: 0px;
}

.col h5 {
  margin-bottom: 3px;
}

.col p {
  margin-top: 0px;
}

section,
footer {
  padding: 20px 0;
}

.card-panel {
  min-height: 250px;
}

/* Slider Berita */
.slidernews {
  max-width: 50px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.add-cart-btn {
  margin-top: auto; /* dorong ke bawah */
  align-self: flex-start; /* opsional: posisikan kiri */
}


/* Col Email Contact */
.custom-panel {
  margin-bottom: 12px;
  padding-bottom: 10px;
}

/* Gallery */
.hidden {
  display: none; /* Semua elemen dengan class hidden tidak muncul */
}


.gallery img {
  margin-bottom: 15px; /* jarak vertikal antar gambar */
}

@media only screen and (max-width: 600px) {
  .gallery img {
    margin-bottom: 20px; /* lebih besar di layar kecil */
  }
}

.channel-link {
  display: inline-flex;
  align-items: center;   /* sejajarkan vertikal */
  gap: 8px;              /* beri jarak antar elemen */
  text-decoration: none; /* hilangkan underline */
  color: inherit;        /* ikuti warna parent */
}


/* About-text */
.justify-text {
  text-align: justify;
}

/* Scroll To Top */
.buttonToTop {
  position: fixed;
  bottom: 150px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  padding: 6px;
  border-radius: 50%;
}

.buttonToTop:hover {
  transform: scale(1.1);
}

.buttonToTop a {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(6, 156, 6);
  border: none;
  color: #ffffff;
  font-family: monospace;
  font-weight: light;
  cursor: pointer;
  transition: 0.5s;
  align-items: center;
}

.buttonToTop a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttonToTop a:hover {
  background-color: var(--primary);
  color: #000;
  transform: rotate(360deg);
}

/* Popup Iklan Star */
.popup-screen {
  z-index: 999999;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  top: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
}

.popup-screen.active {
  visibility: visible;
}

.popup-box {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  max-width: 350px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: scala(0);
  transition: 0.5s ease;
  transition-property: transform;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.8);
  z-index: 1;
}

.popup-screen.active .popup-box {
  transform: scala(1);
}

.popup-box img {
  position: absolute;
  aspect-ratio: 1;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  width: 130px; /* Atur lebar gambar */
  height: auto;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.8);
  transition: transform 0.5s;
  margin-top: -5px;
}

.popup-box i {
  margin-top: 15px;
  z-index: 999;
}

.popup-box h2 {
  font-size: 2.1em;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: -10px;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.popup-box h4 {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 15px;
}

.popup-box span {
  color: var(--bg1);
}

.popup-box p {
  font-size: 1.2em;
  margin-bottom: 15px;

}

.popup-box .btn {
  color: #fff;
  background: var(--bg1);
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 27px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  z-index: 999999;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: var(--bg1);
  color: #000;
}

.close-btn {
  position: absolute;
  font-size: 2em;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
  display: flex;
  background: radial-gradient(circle 887px at -13.8% 18.3%, rgba(8, 208, 115, 1) 0%, rgba(0, 0, 0, 1) 90%);
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  z-index: 999;
}

.close-btn {
  transition: transform 0.5s ease-in-out;
}

.close-btn:hover {
  background-color: var(--primary);
  color: #000;
  z-index: 999;
}

.close-btn:hover {
  transform: rotate(90deg);
}
/* Popup Iklan End */

/* responsive */
@media (min-width: 1200px) {
  .popup-box p,
  .popup-box h4 {
    font-size: 100%;
  }

  @media (min-width: 1200px) {
    .popup-box h2 {
      font-size: 150%;
    }
  }
}

@media (min-width: 768px) {
  .popup-box img {
    width: 15%;
    height: auto;
    left: 10px; /* atur nilai left sesuai kebutuhan */
    transform: none;
    top: 10px;
  }

  .popup-box img {
    width: 15%;
    height: auto;
    left: 10px; /* atur nilai left sesuai kebutuhan */
    transform: none;
    top: 10px;
  }

  .popup-box {
    max-width: 350px;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .popup-box img {
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
  }
}