/* Slider */
.slider h3,
.slider h5 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


/* Logo Navbar */
.brand-logo {
  max-width: 150px;
}

.parallax-container {
  height: 20%;
}

.parallax img {
  filter: grayscale(1);
  opacity: 0.5 !important;
}


/* Profile */
.profile img {
  max-width: 200px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

.container.profile h3 {
  margin-bottom: 4px;
}

.container.profile p {
  margin-top: 0px;
}

.col h5 {
  margin-bottom: 3px;
}

.col p {
  margin-top: 0px;
}

section,
footer {
  padding: 20px 0;
}

.card-panel {
  min-height: 250px;
}

/* Slider Berita */
.slidernews {
  max-width: 50px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.add-cart-btn {
  margin-top: auto; /* dorong ke bawah */
  align-self: flex-start; /* opsional: posisikan kiri */
}


/* Col Email Contact */
.custom-panel {
  margin-bottom: 12px;
  padding-bottom: 10px;
}

/* Gallery */
.hidden {
  display: none; /* Semua elemen dengan class hidden tidak muncul */
}


.gallery img {
  margin-bottom: 15px; /* jarak vertikal antar gambar */
}

@media only screen and (max-width: 600px) {
  .gallery img {
    margin-bottom: 20px; /* lebih besar di layar kecil */
  }
}

.channel-link {
  display: inline-flex;
  align-items: center;   /* sejajarkan vertikal */
  gap: 8px;              /* beri jarak antar elemen */
  text-decoration: none; /* hilangkan underline */
  color: inherit;        /* ikuti warna parent */
}


/* About-text */
.justify-text {
  text-align: justify;
}

/* Scroll To Top */
.buttonToTop {
  position: fixed;
  bottom: 150px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  padding: 6px;
  border-radius: 50%;
}

.buttonToTop:hover {
  transform: scale(1.1);
}

.buttonToTop a {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(6, 156, 6);
  border: none;
  color: #ffffff;
  font-family: monospace;
  font-weight: light;
  cursor: pointer;
  transition: 0.5s;
  align-items: center;
}

.buttonToTop a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttonToTop a:hover {
  background-color: var(--primary);
  color: #000;
  transform: rotate(360deg);
}

/* Awalnya popup disembunyikan */
.popup-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 254, 254, 0.5);
  display: none; /* disembunyikan */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  max-width: 350px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: scala(0);
  transition: 0.5s ease;
  transition-property: transform;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5);
  z-index: 1;
}

.popup-screen.active .popup-box {
  transform: scala(1);
}

.popup-box img {
  position: absolute;
  aspect-ratio: 1;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  width: 130px; /* Atur lebar gambar */
  height: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5);
  transition: transform 0.5s;
  margin-top: -5px;
}

.popup-box .btn-floating {
  position: absolute;
  top: 10px;
  right: 15px;
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.9);}
  to {opacity: 1; transform: scale(1);}
}